@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro', sans-serif;
}

/* Adicione estas regras ao seu arquivo CSS no React */

.app {
    display: flex;
    position: relative;
    overflow: hidden;
}

/* Defina a transição para a propriedade de opacidade da barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handler */
::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.24);
    border-radius: 20px;
}


